:host { 
	display: inline-block;
}

div {
	text-align: center;
}

img.round {
	border-radius: 999px;
}

img + p {
	margin: 0.25em 0 0;
	line-height: 1;
}

strong, small {
	display: block;
}

.horizontal {
	text-align: left;
}

.horizontal img {
	margin: 0 0.5em 0 0;
	display: inline-block;
	vertical-align: middle;
}

.horizontal p {
	display: inline-block;
	vertical-align: middle;
}